openapi: 3.0.3
info:
  title: Publora API
  description: |
    Affordable REST API for scheduling and publishing social media posts
    across X/Twitter, LinkedIn, Instagram, Threads, TikTok, YouTube,
    Facebook, Bluesky, Mastodon, and Telegram.

    All plans include full API access. Starting at $5.40/month (yearly) or $9/month.
    14-day free trial, no credit card needed.

    ## Workspace API
    The Workspace API allows you to manage multiple users under a single account.
    **To enable Workspace access, please contact Publora support at serge@publora.com.**
  version: "1.0.0"
  contact:
    email: serge@publora.com
    url: https://publora.com
servers:
  - url: https://api.publora.com/api/v1
    description: Production
security:
  - ApiKeyAuth: []

tags:
  - name: Posts
    description: Create, update, delete, and list posts
  - name: Connections
    description: Manage platform connections
  - name: Media
    description: Upload media files
  - name: LinkedIn Analytics
    description: LinkedIn-specific analytics and interactions
  - name: Webhooks
    description: Manage webhook endpoints for real-time notifications
  - name: Workspace
    description: "Manage multiple users (requires Workspace access - contact support)"
  - name: Logs
    description: Post logs and debugging

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-publora-key
      description: "API key from Settings > API Keys. Format: sk_timestamp.hexstring"

  schemas:
    YouTubePlaylistReference:
      type: object
      description: "Reference to a YouTube playlist for platformSettings.youtube.playlist. Send empty strings for both fields to clear the playlist."
      properties:
        id:
          type: string
          description: "YouTube playlist id"
          example: "PLxxxxxxxx"
        platformId:
          type: string
          description: "Compound YouTube platform id from platforms; must match the single selected YouTube channel"
          example: "youtube-UCxxxxxxxx"
    YouTubeThumbnailReference:
      type: object
      description: "Reference to a Publora-tracked custom thumbnail for platformSettings.youtube.thumbnail. Send an empty url to clear the thumbnail. Set via update-post only (the upload requires a postGroupId)."
      properties:
        mediaId:
          type: string
          description: "Publora media id returned by the YouTube thumbnail upload endpoint"
          example: "665f..."
        url:
          type: string
          description: "Publora-hosted thumbnail URL returned by the upload endpoint"
          example: "https://media.publora.com/..."
    PlatformSettingsInput:
      type: object
      description: "Per-platform settings. Only tiktok, instagram, youtube, threads, and telegram keys are recognized; other platform keys are silently dropped. Merged with defaults on create-post and with existing settings on update-post (omitted fields are preserved)."
      properties:
        instagram:
          type: object
          properties:
            videoType:
              type: string
              enum: [REELS, STORIES]
              default: REELS
              description: "How videos are published"
            coverUrl:
              type: string
              description: "Custom Reels cover image (alias: cover_url). Publicly accessible http(s) URL to a JPEG — Instagram fetches it server-side at publish time. Empty string clears the custom cover. Invalid URLs are rejected with 400. Ignored for Stories and image posts."
              example: "https://cdn.example.com/covers/reel-cover.jpg"
        tiktok:
          type: object
          description: "TikTok settings (viewerSetting, allowComments, allowDuet, allowStitch, commercialContent, brandOrganic, brandedContent)"
        youtube:
          type: object
          description: "YouTube settings (privacy, title, tags, categoryId, madeForKids, playlist; thumbnail is settable via update-post only)"
        threads:
          type: object
          description: "Threads settings (replyControl)"
        telegram:
          type: object
          description: "Telegram settings (disableNotification, disableWebPagePreview, protectContent — booleans)"
    PlatformConnection:
      type: object
      properties:
        platformId:
          type: string
          description: "Unique ID in format platform-id (e.g., twitter-123456789)"
          example: "twitter-123456789"
        username:
          type: string
          example: "@yourhandle"
        displayName:
          type: string
          example: "Your Name"
        profileImageUrl:
          type: string
          format: uri
          example: "https://pbs.twimg.com/profile_images/..."
        profileUrl:
          type: string
          format: uri
          nullable: true
          description: "URL to the user's profile on the platform. Can be null if not available for the platform."
          example: "https://twitter.com/yourhandle"
        accessTokenExpiresAt:
          type: string
          format: date-time
          nullable: true
          example: "2026-05-15T10:30:00.000Z"
        tokenStatus:
          type: string
          enum: [valid, expiring_soon, expired, unknown]
          description: "Current status of the access token"
          example: "valid"
        tokenExpiresIn:
          type: string
          nullable: true
          description: "Human-readable time until token expiration"
          example: "29 days"
        lastSuccessfulPost:
          type: string
          format: date-time
          nullable: true
          description: "Timestamp of last successful post"
        lastError:
          type: string
          nullable: true
          description: "Last error message if any"

    ManagedUser:
      type: object
      properties:
        _id:
          type: string
          description: "User ID"
          example: "507f1f77bcf86cd799439011"
        username:
          type: string
          description: "User email"
          example: "user@example.com"
        displayName:
          type: string
          example: "John Doe"
        role:
          type: string
          enum: [managed]
          example: "managed"
        dailyPostsLeft:
          type: integer
          example: 100
        connectionsPageUrl:
          type: string
          format: uri
          nullable: true
          description: "URL for user to connect their social accounts"
        connectionsPageTokenExpiresAt:
          type: string
          format: date-time
          nullable: true

    Webhook:
      type: object
      properties:
        _id:
          type: string
          example: "507f1f77bcf86cd799439011"
        name:
          type: string
          example: "My Webhook"
        url:
          type: string
          format: uri
          example: "https://example.com/webhook"
        events:
          type: array
          items:
            type: string
            enum: [post.scheduled, post.published, post.failed, token.expiring]
          example: ["post.published", "post.failed"]
        isActive:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PostLog:
      type: object
      properties:
        _id:
          type: string
        postGroupId:
          type: string
        platform:
          type: string
        platformId:
          type: string
        event:
          type: string
          description: "Log event type (e.g., scheduled, processing, published, failed)"
        message:
          type: string
        details:
          type: object
        createdAt:
          type: string
          format: date-time

    Post:
      type: object
      properties:
        platform:
          type: string
          enum: [twitter, linkedin, instagram, threads, tiktok, youtube, facebook, bluesky, mastodon, telegram]
          example: "twitter"
        platformId:
          type: string
          example: "123456789"
        content:
          type: string
          example: "Hello from Publora API!"
        status:
          type: string
          enum: [draft, scheduled, pending, processing, published, failed]
          example: "published"
        postedId:
          type: string
          description: "Platform-specific post ID (only present if published)"
          example: "1234567890123456789"

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid API key"

paths:
  /platform-connections:
    get:
      summary: List connected social accounts
      description: Returns all social media accounts connected to your Publora account.
      operationId: getPlatformConnections
      tags:
        - Connections
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          description: Managed user ID (workspace only)
          schema:
            type: string
      responses:
        "200":
          description: List of connected accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlatformConnection"
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to fetch platform connections"

  /platform-limits:
    get:
      summary: Get live per-platform posting limits
      description: |
        Return Publora's per-platform limits (characters, images, videos,
        documents, GIFs, thumbnails, and requirements) as live JSON, sourced
        from the shared @publora/platform-limits package. These are the
        API-specific limits Publora validates against before scheduling — use
        them to drive client-side validation instead of hard-coding values.
        No parameters.
      operationId: getPlatformLimits
      tags:
        - Posts
      responses:
        "200":
          description: Per-platform limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  schemaVersion:
                    type: integer
                    example: 1
                  source:
                    type: string
                    example: "@publora/platform-limits"
                  packageVersion:
                    type: string
                    example: "1.0.0"
                  limitsLastUpdated:
                    type: string
                    example: "2026-03-11"
                  supportedPlatforms:
                    type: array
                    items:
                      type: string
                    example: ["twitter", "instagram", "threads", "tiktok", "linkedin", "youtube", "facebook", "mastodon", "bluesky", "telegram", "pinterest"]
                  platforms:
                    type: object
                    description: "Keyed by platform. Each value carries platform, displayName, characters, images, videos, requirements, plus documents, gifs, and thumbnails (null when the platform has no distinct spec)."
                    additionalProperties:
                      type: object
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /create-post:
    post:
      summary: Create and schedule a social media post
      description: |
        Create a post to be published across one or more social media platforms.
        Supports text, images, and video (1 video per post).
        The image count per post is platform-specific: Twitter/X, Bluesky, and
        Mastodon allow up to 4; Instagram, Threads, LinkedIn, Facebook, and
        Telegram allow up to 10. There is no separate "carousel" field — a
        carousel is formed implicitly by attaching multiple images to one
        postGroupId (Instagram: 2-10 images = carousel, 1 image = single photo),
        in upload order. See the Media Uploads guide for the full matrix.
        If scheduledTime is provided, the post will be published at that time.
        If omitted, the post is saved as a draft.
      operationId: createPost
      tags:
        - Posts
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          description: Managed user ID (workspace only)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, platforms]
              properties:
                content:
                  type: string
                  description: Post text content
                  example: "Excited to share our new product launch! 🚀 #launch"
                platforms:
                  type: array
                  items:
                    type: string
                  description: "Array of platform connection IDs (format: platform-platformId)"
                  example: ["twitter-123456789", "linkedin-ABC123"]
                scheduledTime:
                  type: string
                  format: date-time
                  description: "ISO 8601 UTC datetime for scheduling. Omit for draft."
                  example: "2026-03-01T14:00:00.000Z"
                platformSettings:
                  $ref: "#/components/schemas/PlatformSettingsInput"
      responses:
        "200":
          description: Post created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  postGroupId:
                    type: string
                    example: "507f1f77bcf86cd799439011"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingContent:
                  value: { "error": "Content is required" }
                invalidTime:
                  value: { "error": "Invalid scheduled time" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Subscription required or free plan limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noSub:
                  value: { "error": "Subscription required" }
                freeLimit:
                  value: { "error": "Free plan limit reached" }
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /get-post/{postGroupId}:
    get:
      summary: Get post details and status
      description: Retrieve the details, platform statuses, and posted IDs for a post group.
      operationId: getPost
      tags:
        - Posts
      parameters:
        - name: postGroupId
          in: path
          required: true
          schema:
            type: string
          example: "507f1f77bcf86cd799439011"
        - name: x-publora-user-id
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Post details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  postGroupId:
                    type: string
                  posts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Post"
        "404":
          description: Post not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /update-post/{postGroupId}:
    put:
      summary: Update post timing, status, or platform settings
      description: |
        Modify the scheduled time, status, or platformSettings of an existing
        draft or scheduled post.
        Cannot update posts that are published, failed, pending, or processing.
        At least one of status, scheduledTime, or platformSettings must be provided.
        platformSettings are merged per-platform with existing settings —
        omitted fields are preserved.
        Updating a post group also updates all associated platform-specific posts.
      operationId: updatePost
      tags:
        - Posts
      parameters:
        - name: postGroupId
          in: path
          required: true
          schema:
            type: string
        - name: x-publora-user-id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "At least one of status, scheduledTime, or platformSettings must be provided"
              properties:
                status:
                  type: string
                  enum: [draft, scheduled]
                  description: "New status"
                scheduledTime:
                  type: string
                  format: date-time
                  description: "New ISO 8601 UTC scheduled time (must be in the future)"
                platformSettings:
                  $ref: "#/components/schemas/PlatformSettingsInput"
      responses:
        "200":
          description: Post updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Post updated successfully"
                  postGroup:
                    type: object
                    properties:
                      _id:
                        type: string
                      status:
                        type: string
                      scheduledTime:
                        type: string
                        format: date-time
                        description: "Only included if post has a scheduled time"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  value: { "error": "At least one of status, scheduledTime, or platformSettings must be provided" }
                invalidStatus:
                  value: { "error": "Status must be either 'draft' or 'scheduled'" }
                invalidTimeFormat:
                  value: { "error": "Invalid scheduled time format" }
                pastTime:
                  value: { "error": "Scheduled time cannot be in the past" }
                cannotUpdate:
                  value: { "error": "Cannot update post: post is currently in published status" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Post not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group not found"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to update post"

  /delete-post/{postGroupId}:
    delete:
      summary: Delete a scheduled post
      description: |
        Delete a post group and all associated data. This operation removes:
        - The post group record
        - All platform-specific posts (Twitter, LinkedIn, Instagram, etc.)
        - All media file records from the database
        - All media files from S3 storage

        The database deletion is atomic (uses MongoDB transaction). S3 deletion
        failures are logged but do not fail the request.
      operationId: deletePost
      tags:
        - Posts
      parameters:
        - name: postGroupId
          in: path
          required: true
          schema:
            type: string
        - name: x-publora-user-id
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Post deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "404":
          description: Post group not found (ID doesn't exist or belongs to another user)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group not found"
        "500":
          description: Server error during deletion (transaction rolled back)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to delete post group"

  /get-upload-url:
    post:
      summary: Get pre-signed URL for media upload
      description: |
        Get a pre-signed S3 URL to upload images or videos.
        Upload the file directly to S3 via HTTP PUT, then create a post.
        Upload URLs expire in 1 hour. The image count per post is
        platform-specific (up to 4 for Twitter/X, Bluesky, Mastodon; up to 10
        for Instagram, Threads, LinkedIn, Facebook, Telegram), or 1 video per
        post. Attach multiple images to the same postGroupId to form a carousel.
      operationId: getUploadUrl
      tags:
        - Media
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fileName, contentType, type, postGroupId]
              properties:
                fileName:
                  type: string
                  example: "photo.jpg"
                contentType:
                  type: string
                  description: "MIME type (image/jpeg, image/png, video/mp4, etc.)"
                  example: "image/jpeg"
                type:
                  type: string
                  enum: [image, video]
                  example: "image"
                postGroupId:
                  type: string
                  description: "Post group to attach media to"
                  example: "507f1f77bcf86cd799439011"
      responses:
        "200":
          description: Upload URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  uploadUrl:
                    type: string
                    format: uri
                    description: "Pre-signed S3 URL. PUT your file here."
                  fileUrl:
                    type: string
                    format: uri
                    description: "Public URL after upload"
                  mediaId:
                    type: string
                    description: "Media record ID"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFileName:
                  value: { "error": "fileName is required" }
                missingContentType:
                  value: { "error": "contentType is required" }
                missingType:
                  value: { "error": "type is required" }
                missingPostGroupId:
                  value: { "error": "postGroupId is required" }
                invalidContentType:
                  value: { "error": "Invalid content type" }
                invalidType:
                  value: { "error": "Invalid type" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                serverError:
                  value: { "error": "Server error" }

  /upload-instagram-cover:
    post:
      summary: Upload a custom Instagram Reel cover image
      description: |
        Upload a cover image for an Instagram Reel. The image is stored as a
        JPEG (PNG/WebP are transcoded server-side; transparency is flattened
        onto white) and a public URL is returned. Set that URL as
        platformSettings.instagram.coverUrl via update-post to use it as the
        Reel cover. The target post group must be an editable (draft or
        scheduled) post you own and not currently publishing.
        Covers apply to Reels only and are ignored for Stories and images.
      operationId: uploadInstagramCover
      tags:
        - Media
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          description: Managed user ID (workspace only)
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [cover, postGroupId]
              properties:
                cover:
                  type: string
                  format: binary
                  description: "Cover image (JPEG, PNG, or WebP; 8 MB max). PNG/WebP are converted to JPEG."
                postGroupId:
                  type: string
                  description: "Editable post group (draft or scheduled) to attach the cover to"
                  example: "507f1f77bcf86cd799439011"
      responses:
        "200":
          description: Cover uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cover:
                    type: object
                    properties:
                      mediaId:
                        type: string
                        description: "Cover media record ID"
                        example: "665f8a1b2c3d4e5f6a7b8c9d"
                      url:
                        type: string
                        format: uri
                        description: "Public JPEG URL — set as platformSettings.instagram.coverUrl via update-post"
                        example: "https://media.publora.com/images/665f...-reel-cover.jpg"
                  message:
                    type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPostGroupId:
                  value: { "error": "postGroupId is required" }
                invalidPostGroupId:
                  value: { "error": "Invalid postGroupId" }
                missingFile:
                  value: { "error": "cover file is required" }
                badType:
                  value: { "error": "Instagram covers must be JPEG, PNG, or WebP images" }
                tooLarge:
                  value: { "error": "Instagram covers must be 8 MB or smaller" }
                tooLargeAfterTranscode:
                  value:
                    {
                      "error": "Instagram cover exceeds 8 MB after JPEG conversion; use a smaller image",
                    }
                nonEditable:
                  value: { "error": "Cannot upload Instagram cover for a non-editable post" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Post group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group not found"
        "409":
          description: Post group is currently publishing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group is currently being published; cannot upload Instagram cover. Retry once publishing completes."
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to upload Instagram cover"

  /upload-youtube-thumbnail:
    post:
      summary: Upload a custom YouTube video thumbnail
      description: |
        Upload a custom thumbnail for a YouTube video post. The image is stored
        as Publora-tracked media and a mediaId + url are returned; attach them
        via platformSettings.youtube.thumbnail on update-post. A thumbnail
        cannot be set on create-post — the upload requires an existing
        postGroupId (draft or scheduled) that is not currently publishing.
        JPEG or PNG, 2 MB max, minimum 640x360 px (1280x720 recommended).
      operationId: uploadYouTubeThumbnail
      tags:
        - Media
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          description: Managed user ID (workspace only)
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [thumbnail, postGroupId]
              properties:
                thumbnail:
                  type: string
                  format: binary
                  description: "Thumbnail image (JPEG or PNG; 2 MB max; min 640x360 px, 1280x720 recommended)."
                postGroupId:
                  type: string
                  description: "Editable post group (draft or scheduled) to attach the thumbnail to"
                  example: "507f1f77bcf86cd799439011"
      responses:
        "200":
          description: Thumbnail uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  thumbnail:
                    type: object
                    properties:
                      mediaId:
                        type: string
                        description: "Thumbnail media record ID — set as platformSettings.youtube.thumbnail.mediaId via update-post"
                        example: "665f8a1b2c3d4e5f6a7b8c9d"
                      url:
                        type: string
                        format: uri
                        description: "Public thumbnail URL — set as platformSettings.youtube.thumbnail.url via update-post"
                        example: "https://media.publora.com/images/665f...-thumb.jpg"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPostGroupId:
                  value: { "error": "postGroupId is required" }
                invalidPostGroupId:
                  value: { "error": "Invalid postGroupId" }
                missingFile:
                  value: { "error": "thumbnail file is required" }
                badType:
                  value: { "error": "YouTube thumbnails must be JPEG or PNG images" }
                tooLarge:
                  value: { "error": "YouTube thumbnails must be 2 MB or smaller" }
                tooSmall:
                  value: { "error": "YouTube thumbnails must be at least 640x360 pixels" }
                nonEditable:
                  value: { "error": "Cannot upload YouTube thumbnail for a non-editable post" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Post group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group not found"
        "409":
          description: Post group is currently publishing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Post group is currently being published; cannot upload YouTube thumbnail. Retry once publishing completes."
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to upload YouTube thumbnail"

  /linkedin-post-statistics:
    post:
      summary: Get LinkedIn post analytics
      description: |
        Retrieve analytics for a LinkedIn post: impressions, reach, reactions, comments, reshares.
        Results are cached for 30 minutes. Use queryTypes: "ALL" to get all 5 metrics at once.
      operationId: getLinkedInPostStatistics
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [postedId, platformId]
              properties:
                postedId:
                  type: string
                  description: "LinkedIn URN or share ID"
                  example: "urn:li:share:7123456789012345678"
                platformId:
                  type: string
                  description: "LinkedIn connection ID"
                  example: "linkedin-Tz9W5i6ZYG"
                queryType:
                  type: string
                  enum: [IMPRESSION, MEMBERS_REACHED, RESHARE, REACTION, COMMENT]
                  description: "Single metric to fetch"
                queryTypes:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum: [IMPRESSION, MEMBERS_REACHED, RESHARE, REACTION, COMMENT]
                    - type: string
                      enum: ["ALL"]
                  description: "Multiple metrics or ALL"
                  example: "ALL"
      responses:
        "200":
          description: Statistics retrieved
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Single metric response
                    properties:
                      success:
                        type: boolean
                      count:
                        type: integer
                        example: 1542
                      cached:
                        type: boolean
                  - type: object
                    description: Multiple metrics response
                    properties:
                      success:
                        type: boolean
                      metrics:
                        type: object
                        properties:
                          IMPRESSION:
                            type: integer
                          MEMBERS_REACHED:
                            type: integer
                          RESHARE:
                            type: integer
                          REACTION:
                            type: integer
                          COMMENT:
                            type: integer
                      cached:
                        type: boolean
        "400":
          description: Bad request - missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPostedId:
                  value:
                    error: "postedId is required"
                missingPlatformId:
                  value:
                    error: "platformId is required"
                invalidQueryType:
                  value:
                    error: "Invalid queryType. Must be one of: IMPRESSION, MEMBERS_REACHED, RESHARE, REACTION, COMMENT"
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "LinkedIn connection not found"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Failed to fetch post statistics"

  /linkedin-account-statistics:
    post:
      summary: Get aggregated LinkedIn account analytics
      description: Get total metrics across all published LinkedIn posts for an account.
      operationId: getLinkedInAccountStatistics
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platformId]
              properties:
                platformId:
                  type: string
                  example: "linkedin-Tz9W5i6ZYG"
                queryType:
                  type: string
                  enum: [IMPRESSION, MEMBERS_REACHED, RESHARE, REACTION, COMMENT]
                  description: "Single metric to fetch"
                queryTypes:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum: [IMPRESSION, MEMBERS_REACHED, RESHARE, REACTION, COMMENT]
                    - type: string
                      enum: ["ALL"]
                  description: "Multiple metrics or ALL"
                  example: "ALL"
                aggregation:
                  type: string
                  enum: [TOTAL, DAILY]
                  default: TOTAL
                  description: "Aggregation type: TOTAL (default) or DAILY"
                dateRange:
                  type: object
                  description: "Optional date range filter"
                  properties:
                    start:
                      type: object
                      properties:
                        year:
                          type: integer
                        month:
                          type: integer
                        day:
                          type: integer
                    end:
                      type: object
                      properties:
                        year:
                          type: integer
                        month:
                          type: integer
                        day:
                          type: integer
      responses:
        "200":
          description: Account statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  metrics:
                    type: object
                    description: "Flexible object with dynamic metric keys (e.g., IMPRESSION, REACTION, etc.)"
                    additionalProperties:
                      type: integer
                  aggregation:
                    type: string
                    enum: [TOTAL, DAILY]
                  cached:
                    type: boolean
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPlatformId:
                  value: { "error": "platformId is required" }
                invalidQueryType:
                  value: { "error": "Invalid queryType" }
                invalidAggregation:
                  value: { "error": "Invalid aggregation" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /linkedin-profile-summary:
    post:
      summary: Get LinkedIn profile summary
      description: |
        Retrieve a summary of your LinkedIn profile analytics including follower counts
        and aggregated post engagement metrics. Optionally filter by date range to track
        follower growth over a specific period.
      operationId: getLinkedInProfileSummary
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platformId]
              properties:
                platformId:
                  type: string
                  description: "LinkedIn connection ID (format: linkedin-{id})"
                  example: "linkedin-Tz9W5i6ZYG"
                dateRange:
                  type: object
                  description: "Optional date range for filtering metrics and calculating follower growth"
                  properties:
                    start:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2026
                        month:
                          type: integer
                          example: 1
                        day:
                          type: integer
                          example: 1
                    end:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2026
                        month:
                          type: integer
                          example: 1
                        day:
                          type: integer
                          example: 31
      responses:
        "200":
          description: Profile summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  partialData:
                    type: boolean
                    description: "True if some data failed to fetch but partial results are available"
                  profile:
                    type: object
                    properties:
                      followers:
                        type: object
                        properties:
                          total:
                            type: integer
                            description: "Total follower count"
                            example: 5000
                          periodGrowth:
                            type: integer
                            description: "Follower growth during date range (only present when dateRange is provided)"
                            example: 150
                      posts:
                        type: object
                        properties:
                          totalImpressions:
                            type: integer
                            example: 25000
                          totalReactions:
                            type: integer
                            example: 500
                          totalComments:
                            type: integer
                            example: 75
                          totalReshares:
                            type: integer
                            example: 30
                  errors:
                    type: array
                    items:
                      type: string
                    description: "List of errors when partialData is true"
                    example: ["Failed to fetch followers"]
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPlatformId:
                  value: { "error": "platformId is required" }
                invalidDateRange:
                  value: { "error": "Invalid dateRange format" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "LinkedIn connection not found"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: All requests to LinkedIn failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "All requests failed"

  /linkedin-followers:
    post:
      summary: Get LinkedIn follower statistics
      description: |
        Retrieve follower statistics for your LinkedIn account.
        Use period="lifetime" (default) for total follower count, or period="daily" with a dateRange for daily growth data.
        Results are cached for improved performance.
      operationId: getLinkedInFollowers
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platformId]
              properties:
                platformId:
                  type: string
                  description: "LinkedIn connection ID"
                  example: "linkedin-Tz9W5i6ZYG"
                period:
                  type: string
                  enum: [lifetime, daily]
                  default: lifetime
                  description: "Type of statistics to retrieve"
                  example: "lifetime"
                dateRange:
                  type: object
                  description: "Required when period is 'daily'"
                  properties:
                    start:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 1
                        day:
                          type: integer
                          example: 1
                    end:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2024
                        month:
                          type: integer
                          example: 1
                        day:
                          type: integer
                          example: 31
      responses:
        "200":
          description: Follower statistics retrieved
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Lifetime response
                    properties:
                      success:
                        type: boolean
                        example: true
                      followersCount:
                        type: integer
                        example: 1234
                      cached:
                        type: boolean
                  - type: object
                    description: Daily response
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              example: "2024-01-15"
                            count:
                              type: integer
                              example: 10
                      totalGrowth:
                        type: integer
                        example: 25
                      cached:
                        type: boolean
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPlatformId:
                  value: { "error": "platformId is required" }
                invalidPeriod:
                  value: { "error": "Invalid period" }
                missingDateRange:
                  value: { "error": "dateRange is required for daily period" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Failed to fetch statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                fetchFailed:
                  value: { "error": "Failed to fetch followers statistics" }

  /linkedin-reactions:
    post:
      summary: Add a reaction to a LinkedIn post
      description: React to a LinkedIn post with LIKE, PRAISE, EMPATHY, INTEREST, APPRECIATION, or ENTERTAINMENT.
      operationId: addLinkedInReaction
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [postedId, reactionType, platformId]
              properties:
                postedId:
                  type: string
                  description: "LinkedIn URN (urn:li:share:*, urn:li:ugcPost:*, urn:li:activity:*)"
                  example: "urn:li:share:7123456789012345678"
                reactionType:
                  type: string
                  enum: [LIKE, PRAISE, EMPATHY, INTEREST, APPRECIATION, ENTERTAINMENT]
                  example: "LIKE"
                platformId:
                  type: string
                  example: "linkedin-Tz9W5i6ZYG"
      responses:
        "201":
          description: Reaction added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  reaction:
                    type: object
                    description: "Reaction details"
                    properties:
                      reactionType:
                        type: string
                        enum: [LIKE, PRAISE, EMPATHY, INTEREST, APPRECIATION, ENTERTAINMENT]
                      actor:
                        type: string
                        description: "LinkedIn member URN"
                      object:
                        type: string
                        description: "LinkedIn post URN"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPostedId:
                  value: { "error": "postedId is required" }
                missingPlatformId:
                  value: { "error": "platformId is required" }
                invalidReactionType:
                  value: { "error": "Invalid reactionType" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Remove a reaction from a LinkedIn post
      description: |
        Remove your reaction from a LinkedIn post.
        Parameters can be provided either as query parameters OR in the request body.
      operationId: removeLinkedInReaction
      tags:
        - LinkedIn Analytics
      parameters:
        - name: postedId
          in: query
          description: "LinkedIn URN (can also be provided in request body)"
          schema:
            type: string
          example: "urn:li:share:7123456789012345678"
        - name: platformId
          in: query
          description: "LinkedIn connection ID (can also be provided in request body)"
          schema:
            type: string
          example: "linkedin-Tz9W5i6ZYG"
      requestBody:
        required: false
        description: "Alternative to query parameters - provide postedId and platformId in body"
        content:
          application/json:
            schema:
              type: object
              properties:
                postedId:
                  type: string
                  description: "LinkedIn URN (urn:li:share:*, urn:li:ugcPost:*, urn:li:activity:*)"
                  example: "urn:li:share:7123456789012345678"
                platformId:
                  type: string
                  example: "linkedin-Tz9W5i6ZYG"
      responses:
        "200":
          description: Reaction removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  reaction:
                    type: object
                    description: "Details of the removed reaction"
                    properties:
                      reactionType:
                        type: string
                      actor:
                        type: string
                      object:
                        type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingPostedId:
                  value: { "error": "postedId is required" }
                missingPlatformId:
                  value: { "error": "platformId is required" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /linkedin-reshare:
    post:
      summary: Reshare an existing LinkedIn post
      description: Reshare (repost) an existing LinkedIn post to your own feed with optional commentary. Works for personal and company-page connections (authored as the member or the organization automatically).
      operationId: createLinkedInReshare
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platformId, parent]
              properties:
                platformId:
                  type: string
                  description: "LinkedIn connection ID"
                  example: "linkedin-Tz9W5i6ZYG"
                parent:
                  type: string
                  description: "URN of the post to reshare (urn:li:share:* or urn:li:ugcPost:*)"
                  example: "urn:li:share:7123456789012345678"
                commentary:
                  type: string
                  description: "Optional text added above the reshare (max 3000 characters)"
                  example: "Great read — sharing with my network!"
                visibility:
                  type: string
                  enum: [PUBLIC, CONNECTIONS]
                  default: PUBLIC
                  description: "Optional visibility (case-insensitive). Defaults to PUBLIC."
                  example: "PUBLIC"
      responses:
        "201":
          description: Reshare created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  reshare:
                    type: object
                    description: "LinkedIn API response for the created reshare"
                    properties:
                      id:
                        type: string
                        description: "URN of the new reshare post"
                        example: "urn:li:share:7123456789012345678"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  value: { "error": "platformId and parent are required" }
                invalidParent:
                  value: { "error": "parent must be a valid LinkedIn post URN (urn:li:share:<id> or urn:li:ugcPost:<id>)" }
                commentaryTooLong:
                  value: { "error": "commentary cannot exceed 3000 characters" }
                invalidVisibility:
                  value: { "error": "visibility must be one of: PUBLIC, CONNECTIONS" }
                missingOrganizationId:
                  value: { "error": "LinkedIn company connection is missing organizationId. Please reconnect the LinkedIn page." }
        "401":
          description: Invalid API key or expired LinkedIn token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                tokenExpired:
                  value: { "error": "LINKEDIN_TOKEN_EXPIRED" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /list-posts:
    get:
      summary: List posts with pagination and filters
      description: |
        Retrieve a paginated list of all your scheduled, draft, published, and failed posts.

        **Pagination behavior:** The `page` and `limit` parameters are silently clamped to valid ranges
        rather than returning errors. `page` is clamped to a minimum of 1, and `limit` is clamped to 1-100.

        **Platform filtering:** The `platform` filter uses case-insensitive prefix matching.
      operationId: listPosts
      tags:
        - Posts
      parameters:
        - name: x-publora-user-id
          in: header
          required: false
          description: Managed user ID (workspace only)
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: "Page number (1-indexed). Values < 1 are silently clamped to 1."
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          required: false
          description: "Items per page. Values are silently clamped to range 1-100."
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: status
          in: query
          required: false
          description: Filter by post status
          schema:
            type: string
            enum: [draft, scheduled, published, failed, partially_published]
        - name: platform
          in: query
          required: false
          description: "Filter by platform (case-insensitive prefix matching)"
          schema:
            type: string
            enum: [twitter, linkedin, instagram, threads, tiktok, youtube, facebook, bluesky, mastodon, telegram]
        - name: sortBy
          in: query
          required: false
          description: Field to sort by
          schema:
            type: string
            enum: [createdAt, updatedAt, scheduledTime]
            default: createdAt
        - name: sortOrder
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: fromDate
          in: query
          required: false
          description: Filter posts scheduled after this ISO 8601 date
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          required: false
          description: Filter posts scheduled before this ISO 8601 date
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated list of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        postGroupId:
                          type: string
                          example: "507f1f77bcf86cd799439011"
                        content:
                          type: string
                          example: "Excited to share our new product launch!"
                        status:
                          type: string
                          enum: [draft, scheduled, published, failed, partially_published]
                        scheduledTime:
                          type: string
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        platforms:
                          type: array
                          items:
                            type: object
                            properties:
                              platformId:
                                type: string
                              platform:
                                type: string
                              status:
                                type: string
                        mediaUrls:
                          type: array
                          items:
                            type: string
                            format: uri
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 20
                      totalItems:
                        type: integer
                        example: 47
                      totalPages:
                        type: integer
                        example: 3
                      hasNextPage:
                        type: boolean
                        example: true
                      hasPrevPage:
                        type: boolean
                        example: false
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidStatus:
                  value: { "error": "Invalid status. Must be one of: draft, scheduled, published, failed, partially_published" }
                invalidSortBy:
                  value: { "error": "Invalid sortBy. Must be one of: createdAt, updatedAt, scheduledTime" }
                invalidFromDate:
                  value: { "error": "Invalid fromDate format" }
                invalidToDate:
                  value: { "error": "Invalid toDate format" }
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /test-connection/{platformId}:
    post:
      summary: Test platform connection health
      description: |
        Validate that a platform connection is working correctly.
        Returns token status, permissions, and last error if any.
      operationId: testConnection
      tags:
        - Connections
      parameters:
        - name: platformId
          in: path
          required: true
          description: "Platform connection ID (format: platform-id)"
          schema:
            type: string
          example: "linkedin-Tz9W5i6ZYG"
      responses:
        "200":
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform:
                    type: string
                    example: "linkedin"
                  platformId:
                    type: string
                    example: "linkedin-Tz9W5i6ZYG"
                  username:
                    type: string
                    example: "John Doe"
                  status:
                    type: string
                    enum: [ok, error]
                    example: "ok"
                  message:
                    type: string
                    example: "Connection is valid"
                  permissions:
                    type: array
                    items:
                      type: string
                    example: ["w_member_social", "r_basicprofile"]
                  tokenExpiresIn:
                    type: string
                    nullable: true
                    example: "29 days"
                  lastSuccessfulPost:
                    type: string
                    format: date-time
                    nullable: true
                  lastError:
                    type: string
                    nullable: true
        "400":
          description: Invalid platformId format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /post-logs/{postGroupId}:
    get:
      summary: Get post publishing logs
      description: |
        Retrieve detailed logs for a post group showing the publishing process,
        including scheduling, processing, success, and failure events.
      operationId: getPostLogs
      tags:
        - Logs
      parameters:
        - name: postGroupId
          in: path
          required: true
          schema:
            type: string
          example: "507f1f77bcf86cd799439011"
      responses:
        "200":
          description: Post logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  logs:
                    type: array
                    items:
                      $ref: "#/components/schemas/PostLog"
        "404":
          description: Post group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /webhooks:
    get:
      summary: List all webhooks
      description: Retrieve all webhooks configured for your account.
      operationId: listWebhooks
      tags:
        - Webhooks
      responses:
        "200":
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  webhooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a webhook
      description: |
        Create a new webhook endpoint. Maximum 10 webhooks per user.
        The webhook secret is only returned on creation - save it securely.
      operationId: createWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, events]
              properties:
                name:
                  type: string
                  description: "Friendly name for the webhook"
                  example: "Production webhook"
                url:
                  type: string
                  format: uri
                  description: "HTTPS URL to receive webhook events"
                  example: "https://example.com/webhooks/publora"
                events:
                  type: array
                  items:
                    type: string
                    enum: [post.scheduled, post.published, post.failed, token.expiring]
                  description: "Events to subscribe to"
                  example: ["post.published", "post.failed"]
      responses:
        "201":
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  webhook:
                    type: object
                    properties:
                      _id:
                        type: string
                      name:
                        type: string
                      url:
                        type: string
                      events:
                        type: array
                        items:
                          type: string
                      secret:
                        type: string
                        description: "Webhook secret for signature verification (only returned on create)"
                      isActive:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  value: { "error": "Name, URL, and at least one event are required" }
                invalidUrl:
                  value: { "error": "URL must use HTTPS" }
                invalidEvents:
                  value: { "error": "Invalid events: xyz" }
                limitReached:
                  value: { "error": "Maximum of 10 webhooks per user" }
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /webhooks/{id}:
    patch:
      summary: Update a webhook
      description: Update an existing webhook's name, URL, events, or active status.
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum: [post.scheduled, post.published, post.failed, token.expiring]
                isActive:
                  type: boolean
      responses:
        "200":
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  webhook:
                    $ref: "#/components/schemas/Webhook"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a webhook
      description: Delete a webhook endpoint.
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "404":
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /webhooks/{id}/regenerate-secret:
    post:
      summary: Regenerate webhook secret
      description: |
        Generate a new secret for a webhook. The old secret will be invalidated.
        Make sure to update your webhook handler with the new secret.
      operationId: regenerateWebhookSecret
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Secret regenerated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  secret:
                    type: string
                    description: "New webhook secret"
        "404":
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /linkedin-comments:
    post:
      summary: Add a comment to a LinkedIn post
      description: |
        Post a comment on a LinkedIn post. Supports replies to existing comments
        via the parentComment parameter. Maximum comment length is 1250 characters.
        Supports @mentions using @{urn:li:person:ID|Name} or @{urn:li:organization:ID|Company} syntax.
      operationId: createLinkedInComment
      tags:
        - LinkedIn Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [postedId, message, platformId]
              properties:
                postedId:
                  type: string
                  description: "LinkedIn post URN (urn:li:share:*, urn:li:ugcPost:*, urn:li:activity:*)"
                  example: "urn:li:share:7123456789012345678"
                message:
                  type: string
                  description: "Comment text (max 1250 characters). Supports mentions: @{urn:li:person:ID|Name} or @{urn:li:organization:ID|Company}"
                  example: "Great insights @{urn:li:person:ACoAABcD1234EfG|Jane Smith}! Thanks for sharing."
                platformId:
                  type: string
                  description: "LinkedIn connection ID"
                  example: "linkedin-Tz9W5i6ZYG"
                parentComment:
                  type: string
                  description: "Optional parent comment URN for replies"
                  example: "urn:li:comment:(urn:li:activity:123,456)"
      responses:
        "201":
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  comment:
                    type: object
                    properties:
                      id:
                        type: string
                        description: "Comment URN"
                      message:
                        type: string
                      actor:
                        type: string
                      object:
                        type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  value: { "error": "postedId, message, and platformId are required" }
                invalidUrn:
                  value: { "error": "postedId must be a valid LinkedIn URN" }
                emptyMessage:
                  value: { "error": "message cannot be empty" }
                messageTooLong:
                  value: { "error": "message cannot exceed 1250 characters" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a comment from a LinkedIn post
      description: |
        Remove a comment from a LinkedIn post.
        Parameters can be provided as query parameters or in the request body.
      operationId: deleteLinkedInComment
      tags:
        - LinkedIn Analytics
      parameters:
        - name: postedId
          in: query
          description: "LinkedIn post URN (can also be provided in request body)"
          schema:
            type: string
          example: "urn:li:share:7123456789012345678"
        - name: commentId
          in: query
          description: "Comment ID or URN (can also be provided in request body)"
          schema:
            type: string
          example: "6636062862760562688"
        - name: platformId
          in: query
          description: "LinkedIn connection ID (can also be provided in request body)"
          schema:
            type: string
          example: "linkedin-Tz9W5i6ZYG"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                postedId:
                  type: string
                commentId:
                  type: string
                platformId:
                  type: string
      responses:
        "200":
          description: Comment deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: string
                    description: "Comment ID that was deleted"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  value: { "error": "postedId, commentId, and platformId are required" }
                invalidUrn:
                  value: { "error": "postedId must be a valid LinkedIn URN" }
        "404":
          description: LinkedIn connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ============================================================================
  # WORKSPACE API
  # To enable Workspace access, please contact Publora support at serge@publora.com
  # ============================================================================

  /workspace/users:
    get:
      summary: List managed users
      description: |
        Retrieve all users managed under your workspace.

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: getManagedUsers
      tags:
        - Workspace
      responses:
        "200":
          description: List of managed users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/ManagedUser"
        "403":
          description: Workspace access not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Workspace access is not enabled for this key"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a managed user
      description: |
        Create a new managed user under your workspace.
        The user can then connect their social accounts via a connection URL.

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: createManagedUser
      tags:
        - Workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  format: email
                  description: "User's email address (must be unique)"
                  example: "user@example.com"
                displayName:
                  type: string
                  description: "Display name (defaults to email if not provided)"
                  example: "John Doe"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/ManagedUser"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Email is required"
        "403":
          description: Workspace access not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: |
            An account with this email already exists. The response includes
            `userId` and membership fields (`attachable`, `requiresConsent`,
            `reason`, `alreadyInWorkspace`, `managedByAnotherWorkspace`). When
            `attachable: true`, attach the user via POST /workspace/users/attach.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "User with this email already exists"
                code: "email_exists"
                userId: "6626a1f5e4b0c91a2d3f4567"
                alreadyInWorkspace: false
                managedByAnotherWorkspace: false
                reason: "standalone_user_exists"
                attachable: true
                requiresConsent: true
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspace/users/attach:
    post:
      summary: Attach an existing user
      description: |
        Attach an existing standalone Publora user to your workspace as a managed
        user. Because the target account already exists, this requires the target
        user's consent: a valid access token belonging to that user (the
        `accessToken` returned when they sign in), passed as `userAccessToken`.
        Re-attaching a user who is already in your workspace is idempotent and
        does not require a consent token.

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: attachManagedUser
      tags:
        - Workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: "The existing user's email. Provide either email or userId (also accepted as `username`)."
                  example: "user@example.com"
                userId:
                  type: string
                  description: "The existing user's ObjectId. Provide either email or userId."
                  example: "6626a1f5e4b0c91a2d3f4567"
                userAccessToken:
                  type: string
                  description: "The target user's access token, proving consent. Required unless the user is already in your workspace. Also accepted as `attachToken` in the body or via the `x-publora-user-token` header."
              example:
                email: "user@example.com"
                userAccessToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: User attached (or already in your workspace)
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/ManagedUser"
                  alreadyInWorkspace:
                    type: boolean
                    description: "true if the user was already managed by your workspace (idempotent re-attach)"
                    example: false
        "400":
          description: Missing/invalid identifier, mismatched email vs userId, or the owner's own account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Email or userId is required"
                code: "missing_identifier"
        "403":
          description: Workspace access not enabled, the target user's consent token is missing/invalid/mismatched, or attaching would exceed the plan's connection limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Target user consent token is required"
                code: "attach_consent_required"
        "404":
          description: No active user matches the identifier
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "User not found"
                code: "user_not_found"
        "409":
          description: The target user is inactive, a workspace owner, in another workspace, or has an active subscription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: "Cannot attach a user with an active subscription"
                code: "user_has_active_subscription"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspace/users/{userId}:
    delete:
      summary: Detach a managed user
      description: |
        Remove a user from your workspace. The user account is not deleted,
        but is no longer managed by your workspace.

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: detachManagedUser
      tags:
        - Workspace
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: "507f1f77bcf86cd799439011"
      responses:
        "200":
          description: User detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Invalid userId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Workspace access not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: User not found or not managed by this key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspace/users/{userId}/api-key:
    post:
      summary: Generate API key for managed user
      description: |
        Generate a new API key for a managed user. This key can be used
        to make API calls on behalf of the managed user (e.g., create posts
        to their connected social accounts).

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: generateManagedUserApiKey
      tags:
        - Workspace
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: API key generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key generated successfully"
                  apiKey:
                    type: string
                    description: "The generated API key (save it securely - shown only once)"
                    example: "sk_lx5abc.a1b2c3d4e5f6..."
                  userId:
                    type: string
        "400":
          description: Invalid userId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Workspace or API access not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noWorkspace:
                  value: { "error": "Workspace access is not enabled for this key" }
                noApiAccess:
                  value: { "error": "API access is not enabled for this workspace owner" }
        "404":
          description: User not found or not managed by this key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspace/users/{userId}/connection-url:
    post:
      summary: Get connection URL for managed user
      description: |
        Get or generate a URL that allows a managed user to connect their
        social media accounts. The URL expires after a configurable period
        (default: 7 days).

        **Requires Workspace access - contact serge@publora.com to enable.**
      operationId: getConnectionUrl
      tags:
        - Workspace
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                rotate:
                  type: boolean
                  description: "Force generation of a new token even if current is valid"
                  default: false
                expiresInDays:
                  type: integer
                  description: "Number of days until the token expires"
                  default: 7
                  example: 30
      responses:
        "200":
          description: Connection URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: "URL for user to connect their social accounts"
                    example: "https://app.publora.com/connect/abc123..."
                  tokenExpiresAt:
                    type: string
                    format: date-time
                    description: "When the connection URL expires"
        "400":
          description: Invalid userId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Workspace access not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: User not found or not managed by this key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
